.btn-nav{
    width: 100px;
    height: 35px;
    background-color: rgb(42, 42, 168);
    color: white;
    border: 1px solid blue;
    border-radius: 2px;
    text-align: center;
    
}

.btn-nav:hover{
    background-color: blue;
}